* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #efefef;
  position: relative;
}

.clear-button {
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

.clear-button:hover {
  color: #000;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  display: none;
}

.breadcrumb-section {
  width: 100%;
  height: 4rem;
  padding: 0.4rem 2rem;
  /* background-color: ; */
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.breadcrumb-item a {
  display: inline;
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  font-weight: 600;
}

.breadcrumb-item:before {
  color: gray;
  font-size: 1.5rem;
  /* padding: 8px; */
  padding-right: 2rem;
  content: ">>";
}

.breadcrumb-item:first-child:before {
  content: none;
}

.breadcrumb-item a:hover {
  color: rgba(0, 128, 0, 0.8);
}

.bread-curr a {
  color: rgba(0, 0, 0, 0.9);
}

.title-section {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
}

.title-section p {
  font-size: 7.2rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
}

.fav-section {
  width: 100vw;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .fav-area {
  height: 40rem;
  width: 40rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  border: 4px dashed black;
  padding: 1rem;
  overflow: scroll;
} */

.fav-title-area {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  font-size: 3.2rem;
  padding: 0 4rem;
}

.star-icon {
  height: 1.6rem;
  width: 1.6rem;
}

.fav-search {
  width: 16rem;
  border-radius: 0.2rem;
}

.fav-area {
  height: 40rem;
  width: 80rem;
  border: 4px dashed rgb(50, 50, 50);
  padding: 1rem;
  overflow: scroll;
  display: grid;
  grid-template-rows: 10rem 10rem 10rem; /* 3 rows of 10rem */
  grid-auto-flow: column; /* a column flow */
  grid-auto-columns: 36rem; /* each column will 20rem of width */
  grid-gap: 1rem;
  /* overflow: auto; */
  position: absolute;
  left: 4rem;
}

.tag-area {
  height: 40rem;
  width: 30rem;
  border-left: 4px solid rgba(50, 50, 50, 0.5);
  position: absolute;
  right: 4rem;
  background-color: rgba(50, 50, 50, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tag-area-title {
  font-size: 2rem;
}

.tag-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 10rem;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
}

.tag-sect-title {
  font-size: 1.8rem;
  color: rgba(50, 50, 50, 0.8);
}

.tag-checkbox,
.tag-checkbox-box {
  height: 1.8rem;
  /* width: 1.8rem; */
  display: flex;
  gap: 0.5rem;
}

.tag-checkbox label {
  font-size: 1.8rem;
  width: 20rem;
}

.filter-button {
  height: 2.4rem;
  font-size: 2rem;
  width: 20rem;
  background-color: rgb(50, 50, 50);
  color: #efefef;
  border: none;
}

.filter-button:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.5);
}

.fav {
  width: 36rem;
  height: 10rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  position: relative;
}

.fav p {
  font-size: 2.2rem;
  overflow: hidden;
  height: 2.4rem;
  font-weight: 500;
}

.fav p a {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  /* color: blue; */
}

.fav p a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.fav-applied-tags {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.fav-tag {
  font-size: 1.5rem;
}

.fav-date {
  position: absolute;
  bottom: 1rem;
  right: 10rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.fav-clicks {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.fav-icon {
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fav-icon:hover {
  color: rgba(0, 0, 0, 0.9);
}

.fav-delete {
  right: 1rem;
}

.fav-remove {
  right: 2.8rem;
}

.link-copy {
  text-decoration: none;
  /* background-color: rgba(50, 50, 50, 0.2); */
  color: black;
}

.prog {
  padding: 0 2px;
  border: 2px dashed rgba(0, 128, 0, 0.8);
  background-color: rgba(0, 128, 0, 0.2);
}

.prog-border {
  border: 4px dashed rgba(0, 128, 0, 0.8);
  background-color: white;
}

.javascript {
  border: 2px dashed rgba(255, 165, 0, 0.8);
  background-color: rgba(255, 165, 0, 0.2);
}

.css {
  border: 2px dashed rgba(100, 100, 225, 0.8);
  background-color: rgba(255, 165, 0, 0.2);
}

.howto {
  border: 2px dashed rgba(255, 192, 203, 0.8);
  background-color: rgba(255, 192, 203, 0.2);
}

/* .fav:hover {
  transform: scale(1.2);
} */

.add-section {
  /* height: 4rem; */
  width: 100%;
  padding: 0rem 4rem;
}

.add-icon,
.add-title-text {
  font-size: 2.4rem;
  color: rgb(50, 50, 50);
}

.add-icon:hover,
.add-title-text:hover {
  color: black;
  cursor: pointer;
}

.add-section-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* .add-section-title:hover + .add-drop {
  display: flex;
} */

.add-drop {
  display: none;
  height: 12rem;
  position: relative;
  gap: 2rem;
}

.add-drop-labels,
.add-drop-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: start;
}

.add-label {
  font-size: 1.5rem;
}

/* .add-drop-inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
} */

.add-text-long,
.add-text-short {
  height: 1.6rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.add-text-long {
  width: 80rem;
}

.add-text-short {
  width: 16rem;
}

.submit-link {
  position: absolute;
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  right: 2rem;
  bottom: 0;
  font-size: 2rem;
  width: 12rem;
  height: 3rem;
  /* padding: 0.5rem; */
}

.submit-link:hover {
  background-color: #000;
}

.close-drop {
  color: rgb(50, 50, 50);
  font-size: 4rem;
  position: absolute;
  right: 2rem;
  top: 0;
  border: none;
  cursor: pointer;
}

.close-drop:hover {
  color: #000;
}

.most-section,
.all-section {
  width: 100vw;
  height: 50rem;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 4rem;
}

.most-section-title,
.all-section-title {
  position: absolute;
  top: 0rem;
  left: 4rem;
  font-size: 4.8rem;
  padding: 1rem;
  color: rgb(50, 50, 50);
}

.most-div {
  position: absolute;
  top: 7rem;
  height: 40rem;
  width: 100rem;
  background-color: rgba(50, 50, 50, 0.2);
}

.most-div-head {
  width: 100%;
  height: 3.2rem;
  background-color: rgba(50, 50, 50, 0.5);
  border-bottom: 4px solid rgb(50, 50, 50);
  font-size: 2.4rem;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
}

.most-links,
.all-links {
  /* margin-top: 1rem; */
  display: flex;
  /* display: list-item; */
  flex-direction: column;
  gap: 0.5rem;
  font-size: 2rem;
}

.most-links .li-div,
.all-links .li-div {
  width: 100%;
  /* display: list-item; */
  font-size: 2.4rem;
  /* padding: 0 2rem; */
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  align-content: center;
}

.most-links li,
.all-links li {
  display: list-item;
  list-style: decimal;
  /* list-style-position: inside; */
  margin-left: 2rem;
}

.most-div-head-long {
  min-width: 46rem;
}

.most-link-short {
  min-width: 8rem;
}

.most-delete,
.all-delete,
.most-addfav {
  color: rgba(0, 0, 0, 0.5);
}

.most-delete:hover,
.all-delete:hover,
.most-addfav:hover {
  color: black;
  cursor: pointer;
}

.most-pages,
.all-pages {
  position: absolute;
  bottom: 0;
  right: 30rem;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.curr-page-most,
.curr-page-all {
  font-weight: 700;
}
